<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<title>{{ note.title }} @ {{ name }}</title>
	<meta charset="utf-8" />
	<meta name="viewport"
	content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<style>
        	body {
            		padding: 2%;
            		margin-left: auto;
            		margin-right: auto;
        	}

        	img {
           		 max-width: 100%;
        	}

		textarea {
			width: 	98%;
			margin-left: auto;
			margin-right: auto;
		}
    	</style>
</head>
<body>
	<p>
	<input type='text' id='title' autocomplete="off" value="{{ note.title }}" oninput='changeTitle()'/>
		<small>@{{ name }}</small>
		<button id='save' onclick='post()'>Save</button>
		<small id='status_p'>Saved</small>
	</p>
	<textarea id='note' rows="128" oninput='changeNote()'>{{ note.body }}</textarea>
	<script>
		title = document.getElementsByID('title')
		note = document.getElementsByID('note')
		button = document.getElementsByID('save')
		status_p = document.getElementsByID('status_p')
		function changeTitle() {
			document.title = title.value + ' @ {{ name }}'
			status_p.innerHTML = 'Unsaved'
		}
		function changeNote() {
			status_p.innerText = 'Unsaved'
		}
		function post() {
			status_p.innerText = 'Saving'
			data = 'title=' + title.value +'&body=' + note.value 
			var xmlhttp = new XMLHttpRequest()
			xmlhttp.onreadystatechange=function() {
    				if (xmlhttp.readyState==4 && xmlhttp.status==200)  {
        				status_p.innerText = 'Saved'
    				}
			}
			xmlhttp.open('POST','',true)
			xmlhttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
			xmlhttp.send(data)
		}
	</script>
	<script>
		setInterval('post()',20*1000)
	</script>
</body>
</html>
