<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="zh-CN">

<head>
	<title>{{ note.title }} @ {{ name }}</title>
	<meta charset="utf-8" />
	<meta name="viewport"
	content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<style>
        	body {
            		padding: 2%;
            		margin-left: auto;
            		margin-right: auto;
        	}

        	img {
           		 max-width: 100%;
        	}

		textarea {
			width: 	98%;
			margin-left: auto;
			margin-right: auto;
		}
    	</style>
</head>
<body>
	<p>
	<input type='text' id='title' autocomplete="off" value="{{ note.title }}" oninput='changeTitle()'/>
		<small>@{{ name }}</small>
		<button id='save' onclick='post()'>Save</button>
		<small id='status_p'>Saved</small>
	</p>
    <p>
        <small>Read Only as <a href="{{ name }}.note" target="_blank">Text</a> or <a href="{{ name }}.html" target="_blank">HTML</a> | <a href="{{ name }}.ws">Live Edit</a></small>
    </p>
	<textarea id='note' rows="128" oninput='changeNote()'>{{ note.body }}</textarea>
	<script>
		title = document.getElementById('title')
		note = document.getElementById('note')
		button = document.getElementById('save')
		status_p = document.getElementById('status_p')
		function changeTitle() {
			document.title = title.value + ' @ {{ name }}'
			status_p.innerHTML = 'Unsaved'
		}
		function changeNote() {
			status_p.innerText = 'Unsaved'
		}
		function post() {
			status_p.innerText = 'Saving'
            const data = 'title=' + title.value + '&body=' + note.value;
            const xml_http = new XMLHttpRequest();
            xml_http.onreadystatechange=function() {
    				if (xml_http.readyState===4 && xml_http.status===200)  {
        				status_p.innerText = 'Saved'
    				}
			}
			xml_http.open('POST','',true)
			xml_http.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
			xml_http.send(data)
		}
	</script>
	<script>
		setInterval('post()',10*1000)
	</script>
</body>
</html>
